#main_div {
    margin: 15px;
}

#main_table, #main_table th, #main_table td {
    border:1px solid black;
    border-collapse: collapse;
    font-size: 16px;
    color: #949494;
    table-layout: auto;
    margin: 15px;
}

#main_table th {
    text-align: left;
    background-color: #f9f9f9;
}

#form_style {
    margin-top: 15px;
}

